<!DOCTYPEhtml PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>{{$title}}</title>
    </head>
    <body>
        <p>Hello {{$firstName}},</p>
        <p>This is message from the WEBD236 Forum team. You recently requested to have your password e-mailed to you.
            
        <ul><<li>{{$firstName}}'s password: {{$password}}</li></ul>
        </p>
        <p>Sincerely,</p>
        <p>WEBD236 Forum Team</p>
    </body>
</html>
